<!DOCTYPE html>
<html>
<head>
    <title>Hot Phrases</title>
    <script src="http://code.jquery.com/jquery-1.8.2.js"></script>
    <script type="text/javascript" src="/static/js/jquery.awesomeCloud-0.2.MODIFIED.js"></script>
    <style type="text/css">
        .chainlink_text {
            color:white;
        }
        body {background-color:black;}
        .wordcloud {
            border: 1px solid #696969;
            height: 5in;
            margin: 0.5in auto;
            padding: 0;
            page-break-after: always;
            page-break-inside: avoid;
            width: 5in;
        }
    </style>
</head>
<body>
    <div id="currentPhrase" class='chainlink_text'>Waiting for current Phrase</div>
    <div id="wordcloud" class='wordcloud'>Accumulating words for the wordcloud...</div>
</body>
</html>